<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>

    <h1>Checkout</h1>
    <h2>Carrito: <span class="carrito">0</span></h2>

    <ul class="lista"></ul>
    

    <script src="js/cliente.js"></script>
    <script src="js/checkout.js"></script>
</body>
</html>